---
---

<!DOCTYPE html>
<html lang="no">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width-device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/assets/main.css"><link type="application/atom+xml" rel="alternate" href="/feed.xml" title="Python i skolen" /></head>
    </head>
    <body>
        <nav>
            <ul>
                {% for item in site.data.menu %}
                <li><a class="{% if page.url == item.link %}active{% endif %}" href="{{item.link}}">{{item.title}}</a></li>
                {% endfor %}
            </ul>
        </nav>

        {{content}}

        <style>

        </style>
    </body>
</html>